
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: white;
    background-color: #143d50;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    height: 100vh;
    overflow-y: hidden;
  }
  
  
  ul {
    list-style: none;
    margin: 0px;
  }

  
  a {
    text-decoration: none;
    color: white;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 100.2px;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    } */
  
    .nav-list {
      margin: 0 0rem;
    } 
  }


#img_div img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 8px;
}

  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 10px 10px 10px 10px;

  }
  
  .nav-list a:hover {
    background-color: #000000;
    font-size: larger;

  }



  
 
  #ingredients{
    width: 600px;
    position: absolute;
    right: 20%;
    color: #ffffff;
    margin-top: 20px ;
  }


  #ingredient_input{
    min-width: 300px;
    min-height: 30px;

  }

  #ingredient_input input{
    min-width: 150px;
  }


 .mainsidediv{
  overflow-y: scroll;
  height: 100vh;
  width: 300px; 
  

 } 

.mainsidediv p:nth-child(1){
  text-align: center;
  
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;


}
.mainsidediv p:nth-child(2){
  color: #000000;
  font-size: 20px;
  border-top: solid;
  text-align: center;
  color: aliceblue;

}

.right_div{
  position: absolute;
  right: 25px;
  top: 80px;
  overflow-y: scroll;
  direction: rtl;
  text-align: center;
}


.current_ingredients{
  direction: ltr;
  margin-left: 20px;
  margin-top: 25px;
}

#next_page{
  position: absolute;
  top: 62%;
  right:20%;
  width: 920px;
  border-top: solid;

}

#next_page p{
  margin-left: 300px;
  margin-top: 50px;
}



#next_page a{
  color: #000000;
  margin-left: 320px;

}

























































































